In [1]:
from bs4 import BeautifulSoup
with open('//Users/daraz/Desktop/sample.html','r')as f:
    s = BeautifulSoup(f,'html.parser')

In [ ]:
s.prettify()

In [2]:
text = []
for tr in s.find_all('table')[1].find_all('table')[3].find_all('tr'):
    for td in tr.find_all('td'):
        text.append(str(td.string))

In [11]:
keys_ = text[::2]
values_ = text[1::2]

In [13]:
dict_ = dict(zip(keys_,values_))

In [14]:
import pandas as pd

In [21]:
pd.DataFrame([dict_])

,Particulars,Transaction Time & Date,Transaction Amount,Available Balance,Terminal Location,Card No.
0,None,23:05 06-AUG-2022,BDT 5000.00,BDT 2771437.98,ATM WDLShantinagar RATM>Shantinagar TSO BD,371599XXXXXXXXX