In [1]:
import pandas as pd

df = pd.read_csv('output_1.csv')

In [ ]:
df.head(2)

In [10]:
def col_sel(df,cols):
    df1 = pd.DataFrame()
    for col in cols:
        df1 =pd.concat([df1,df[col]], axis = 1) 
    return df1

In [11]:
col_sel(df,cols=['Transaction Amount','Available Balance'])

    Transaction Amount Available Balance
0          BDT 5000.00    BDT 2771437.98
1         BDT 20000.00    BDT 2694228.82
2         BDT 10000.00    BDT 2753228.82
3         BDT 20000.00    BDT 2779295.82
4         BDT 20000.00    BDT 2799295.82
..                 ...               ...
837                NaN               NaN
838                NaN               NaN
839                NaN               NaN
840                NaN               NaN
841                NaN               NaN

[842 rows x 2 columns]

In [ ]:
df.loc[:,['Transaction Amount','Available Balance']]